<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button> 
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
          <div ng-hide="!connected">
              <a class="button button-icon button-clear ion-clock" href="#/app/donelist">
              </a> 
          </div>
      </ion-nav-buttons>
     
            <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button> 
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title"><b>REMIND</b></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
          <ion-item class="ion-log-in" nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item class="ion-log-out" nav-clear menu-close ng-click="doLogout()">
          Logout
        </ion-item>
          <ion-item nav-clear menu-close href="#/app/todolist">
          To do list
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
