<ion-view view-title="<b>REMIND</b>">
<ion-content ng-hide="connected">
  <center>
  <h1><b>Projet 2015</b></h1>

  <p>
  -DIEP Philippe<br>
  -GASQUE Maxime<br>
  -LENHARDT Vincent<br><br>

  Télécommunications 2e année<br><br>

  <b>Please connect to use our Remind App.</b></p></center>
</ion-content>>
<ion-content ng-hide="!connected">
<div ng-controller="RefreshTodosCtrl" ng-init="getTodos();loadingTodos();">
</div>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="keywords" placeholder="Search">
  </label>
    <div class="row" ng-show="movies.length > 1">
        <a ng-click="clickPredicateName()" class="col-md-offset-7 col-md-2">By name</a>
        <a ng-click="clickPredicateDate()" class="col-md-2">By date</a>
    </div>
  <ion-list>
      <ion-item ng-repeat="todo in todolist|filter:keywords|filter: {isActive : true}|filter:{'user': user}|orderBy: orderByPredicate : orderByReverse" href="#/app/todolist/{{todo._id.$oid}}">
    {{todo.title}}
    </ion-item>
  </ion-list>
</ion-content>
<div class="bar bar-footer bar-balanced">
<div class="title">
    <a ng-hide="!connected" class="button button-clear" href="#/app/addtodo/"><b>ADD TODO<b></a>
  </div>
</div>
</ion-view>
